tqdm >= 4.56.2
numpy >= 1.16.6    
pandas-stubs >= 1.2.0.58
beautifulsoup4 >= 4.8.2
joblib >= 0.15.1
pytesseract >= 0.3.8
pdf2image >= 1.16.0
wand >= 0.6.7
opencv-python >= 4.5.5.64
matplotlib >= 3.3.4
scipy >= 1.4.1
scikit-learn >= 0.23.1
